<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="ranked preferences resolver">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>rpr</title>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}">
    </head>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <body>
    {% block body %}{% endblock %}
    </body>
</html>
